---
name: test

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Generic
  FORCE_COLOR: '1'
  CLICOLOR: '1'
  # Python
  PYTHONUNBUFFERED: '1'
  STABLE_PYTHON_VERSION: '3.13'
  # Rust
  RUST_BACKTRACE: '1'
  NEXTEST_PROFILE: ci

jobs:
  # This job checks if the necessary checks have been completed and is used by
  # GitHub's rules to determine if the PR can be merged. This more convenient
  # than specifying each individual check in the GitHub UI.
  complete:
    name: Test completion check
    if: always()

    permissions:
      contents: none

    runs-on: ubuntu-latest
    needs:
      - pre-commit
      - clippy
      - format
      - coverage
      - test
      - examples

    steps:
      - name: Failed
        run: exit 1
        if: >
          contains(needs.*.result, 'failure')
          || contains(needs.*.result, 'cancelled')
          || contains(needs.*.result, 'skipped')

  ##############################################################################
  ## Checks
  ##############################################################################

  committed:
    name: Committed

    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: committed-action
        uses: crate-ci/committed@bb02f309663f9baced8dbd5fdd80c6369ddf3efd  # v1.1.8
        with:
          args: -vv --no-merge-commit --no-wip --no-fixup

  pre-commit:
    name: Pre-commit

    runs-on: ubuntu-latest

    env:
      PRE_COMMIT_HOME: ${{ github.workspace }}/.pre-commit

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Cache pre-commit
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb  # v5.0.1
        with:
          path: |
            ${{ env.PRE_COMMIT_HOME }}
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt,clippy

      - name: Set up uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          enable-cache: true
          cache-suffix: pre-commit
          cache-dependency-glob: .pre-commit-config.yaml

      - name: Install pre-commit
        run: uv tool install pre-commit

      - name: Run pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files

  clippy:
    name: Clippy Rust ${{ matrix.rust }} on  ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install Rust tools
        uses: taiki-e/install-action@cc33365ec7e3350bc47bf935f247582cc6f68344  # v2.65.12
        with:
          tool: cargo-hack,cargo-action-fmt

      - name: Clippy
        run: |
          {
            cargo hack \
              --feature-powerset \
              --no-dev-deps \
              clippy \
              --workspace \
              --message-format json \
              -- \
              -D warnings

            cargo hack \
              --feature-powerset \
              clippy \
              --workspace \
              --all-targets \
              --message-format json \
              -- \
              -D warnings
           } | cargo-action-fmt

  format:
    name: Format Rust ${{ matrix.rust }} on  ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Format
        run: cargo fmt --check

  coverage:
    name: Rust Coverage

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install Rust tools
        uses: taiki-e/install-action@cc33365ec7e3350bc47bf935f247582cc6f68344  # v2.65.12
        with:
          tool: cargo-tarpaulin

      - name: Run cargo tarpaulin
        env:
          AMBER_API_KEY: ${{ secrets.AMBER_API_KEY }}
        run: cargo tarpaulin --out Xml

      - name: Upload Rust coverage artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: rust-coverage
          path: '**/cobertura.xml'
          if-no-files-found: warn

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test:
    name: Test Rust ${{ matrix.rust }} on  ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        rust:
          - stable
        include:
          - os: ubuntu-latest
            rust: beta
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install Rust tools
        uses: taiki-e/install-action@cc33365ec7e3350bc47bf935f247582cc6f68344  # v2.65.12
        with:
          tool: cargo-hack,nextest

      - name: Run tests
        shell: bash
        env:
          NEXTEST_EXPERIMENTAL_LIBTEST_JSON: '1'
          AMBER_API_KEY: ${{ secrets.AMBER_API_KEY }}
        run: |-
          while IFS=$'\n' read -r line || ! retval=$line; do
            if ! echo "$line" | jq -e . 2>/dev/null 1>&2; then
              continue
            fi

            type=$(echo "$line" | jq -r '.type')
            event=$(echo "$line" | jq -r '.event')
            if [ "$type" != "test" ] || [ "$event" != "failed" ]; then
              continue
            fi

            echo "Found failed test: $line"

            failed=true
            name=$(echo "$line" | jq -r '.name')
            stdout=$(echo "$line" | jq -r '.stdout')

            {
              echo "## Failed test $name"
              echo '```'
              echo "$stdout"
              echo '```'
            } >>"$GITHUB_STEP_SUMMARY"
          done < <(
            cargo hack nextest run \
              --feature-powerset \
              --workspace \
              --message-format libtest-json
            printf '%s' "$?"
          )

          exit "$retval"

  examples:
    name: Examples

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install Rust tools
        uses: taiki-e/install-action@cc33365ec7e3350bc47bf935f247582cc6f68344  # v2.65.12
        with:
          tool: cargo-hack,cargo-action-fmt

      - name: Run examples
        run: |-
          {
            cargo hack run --example --workspace --message-format json -- \
              -D warnings

            cargo hack run --example --workspace --all-targets --message-format json -- \
              -D warnings
          } | cargo-action-fmt
